<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AdapterPatternExampleDatabase" connectionString="Provider=SQLOLEDB;Data Source=C:\Dev\Examples\AdapterPatternExample\Database\AdapterPatternDatabase.mdf;Integrated Security=True" providerName="System.Data.OleDb" />
    <add name="SqlCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Dev\Examples\AdapterPatternExample\Database\AdapterPatternDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>